.menu-container {
	position: relative;
}

.burger-menu {
	justify-content: space-between;
	align-items: center;
	display: none;
	cursor: pointer;
	padding: 15px;
	position: absolute;
	right: 20px;
	top: 20px;
	flex-direction: column;
}

.burger-menu span {
	display: block;
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px 0;
	transition: 0.4s;
}

.menu {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.menu-item {
	color: white;
	text-decoration: none;
}

/* MOBILE: */
@media (max-width: 680px) {
	.burger-menu {
		display: flex;
	}

	.menu {
		display: ;
		flex-direction: column;
		position: absolute;
		top: 30px;
		right: 10px;
		background: black;
		padding: 1em;
		border-radius: 8px;
	}

	.menu.open {
		display: flex;
	}
}
