.burger-menu {
	justify-content: space-between;
	align-items: center;
	display: block;
	cursor: pointer;
	padding: 15px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.burger-menu.custom-cursor-on-hover {
	display: none;
}

.burger-menu span {
	display: block;
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px 0;
	transition: 0.4s;
}

.menu {
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: center;
	padding: 1rem;
	border-radius: 8px;
}

.menu.active {
	display: flex;
	right: 0;
	background-color: black;
	width: 100%;
	height: auto;
}

.navItem {
	margin: 0.5rem 0;
	padding: 10px 15px;
	background-color: #0b08355e; /*1e is the transparency (30%)*/
}

.navItem a {
	color: white;
	text-decoration: none;
}
.burger-menu.active span:nth-child(1) {
	transform: rotate(45deg) translate(6px, 5px);
}

.burger-menu.active span:nth-child(2) {
	opacity: 0;
}

.burger-menu.active span:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -5px);
}

/* Responsief */
@media only screen and (min-width: 768px) {
	.menu-container {
		display: none;
	}

	.navItem {
		background-color: transparent;
	}

	.menu {
		background-color: transparent;
		display: flex;
		flex-direction: row;
		position: relative;
		gap: 2.5rem;
	}
}
.logoImg {
	width: 80px;
}
