@media only screen and (max-width: 768px) {
	.burger-menu {
		display: flex;
	}

	.logo {
		background-image: url("./assets/Eersteselectiewebsite/DDD 3.jpeg#");
		height: 600px;
	}

	.Nieuws {
		display: flex;
		align-items: center;
		height: 350px;
		flex-direction: column;
	}
	.nieuwsimg {
		max-width: 300px;
	}
	.logofooter {
		max-width: 90px;
		height: auto;
		margin: 20px;
	}

	.contact-info p,
	.donatie p,
	.footer-bottom p {
		margin: 20px 0;
	}

	.footer-bottom a {
		display: inline-block;
		margin-top: 10px;
	}

	/*
	.menu.open {
		display: flex;
	}
        */
}
