.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 16px;
	grid-template-rows: auto;
	width: 90%;
	margin: 0 auto;
}

.headerLogo,
.footerContact {
	height: auto;
	img {
		height: 6rem;
		margin: 1rem;
	}
}

.topMargin {
	margin-top: 25px;
}
