.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: 90%;
  margin: 0 auto;
}

.headerLogo {
  column-gap: 16px;
  grid-template-rows: auto;
  margin: 0 auto;
}

.headerLogo,
.footerContact,
.footer {
  height: auto;
  img {
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    margin-left: 0;
  }
}
.menu-container {
  position: relative;
}

.menu {
  display: none;
}

.active {
  display: block;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  height: 2rem;
  width: auto;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  grid-column: 12;
}

.burger-menu span {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 0.3rem;
  width: 3rem;
  border-radius: 1rem;
}

.navItem {
  text-decoration: none;
}

.topMargin {
  margin-top: 25px;
}

.smallTopMargin {
  margin-top: 10px;
}

footer {
  padding: 25px 0px;
}

footer hr {
  width: 90vw;
  margin: 20px 0px;
  grid-column: 1 / 13;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    grid-column: 7 / span 6;
    align-items: center;
    width: 40rem;
    gap: 1.5rem;
  }

  .menu a {
    padding: 1rem;
  }

  .burger-menu {
    display: none;
  }

  .newsPart {
    grid-column: span 4;
    margin: 10px 0;
    cursor: pointer;
    align-self: baseline;
  }
}

.newsDate {
  /* put here for future references in news page */
  font-size: 11px;
  margin-top: 5px;
}

.newsImg {
  width: 100%;
  height: auto;
}
