@import "./structure.css";
@import "./typo.css";
@import "./buttons.css";

header {
  background-image: url("../assets/Eersteselectiewebsite/2024 Mais Quelle Annee 2.jpg");
  background-position: center;
  background-size: cover;
}