.adress,
.availability {
	grid-column: 1 / 13;
}

.bottomContainer {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / 13;
}

.map {
	grid-column: 1 / 13;
}

@media only screen and (min-width: 768px) {
	.adress {
		grid-column: 1 / 5;
	}

	.availability {
		grid-column: 1 / 5;
	}

	.map {
		grid-column: 6 / 12;
		min-height: 20rem;
	}
}
