.mission,
.aboutUs,
.news,
.partners {
	grid-column: 1 / 13;
}

header {
	background-image: url("../../assets/Eersteselectiewebsite/HomeBgHQ.png");
	height: 450px;
}

.mission h2 {
	font-size: 28px;
	margin: 50px 0px 25px;
}

.newsImg,
.aboutUs img,
.partnerLogo img {
	width: 100%;
	height: auto;
}

.newsPart2,
.newsPart3 {
	margin-top: 50px;
}

.newsDate {
	font-size: 11px;
}

.partnerLogos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
	.mission {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.mission h2,p {
		grid-column: 1 / 7;
		align-self: center;
	}

	.ctaHome {
		grid-column: 8 / 13;
	}


	.aboutUsGeneral {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.aboutUsImg {
		grid-column: 1 / 7;
	}

	.topMargin {
		grid-column: 8 / 13;
	}
}
