.mission,
.allPijlers,
.team,
.helpers,
.join {
	grid-column: 1 / 13;
}

img {
	width: 100%;
	height: auto;
}

.pijlers {
	font-size: 16px;
}

.teamContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5%;
	width: 100%;
}

.teammate {
	grid-column: span 1;
}

.teamText p {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.mission img {
		max-width: 70%;
		margin: 0 auto;
		display: block;
	}
	.team {
		max-width: 80%;
	}
	.gridContainer {
		margin: 0 auto;
	}
	.mission p {
		max-width: 70%;
	}
}
