.mission,
.allPijlers,
.team {
	grid-column: 1 / 13;
}

img {
	width: 100%;
	height: auto;
}

.pijlers {
	font-size: 16px;
}

.teamContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5%;
}

.teammate {
	grid-column: span 1;
}
